{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if user.profile_photo_path %}
            <img src="{{url_for('static',filename=user.profile_photo_path)}}" alt="" class="img-thumbnail">
            {% else %}
            <h4>No profile picture</h4>
            {% endif %}
            {% if user==current_user %}
            <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="file" name="photo" class="form-control" required>
                <input style="margin-top: 2px;" type="submit">
            </form>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h3>{{user.username|upper}}</h3>
            {% if user.bio %}
                <h5>{{user.bio}}</h5>
            {% else %}
                <h5>{{user.username}} has no bio</h5>
            {% endif %}

            {% if user == current_user %}
                <a class="btn btn-primary" href="{{url_for('main.edit_profile',uname=user.username)}}">Edit Profile</a>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center;">Interested In A Personal Blog</h3>
            <hr>
            <p style="text-align: center;">Would you like to share your interests and worldview with the rest of the world?</p>
            <p style="text-align: center;">Then create your own blog</p>
            <p style="text-align: center;">It is easy </p>
            <p style="text-align: center;">Just click on the Create Blog button below</p>
        </div>
    </div>
</div>
{% endblock%}