{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block title %}
    <link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
    
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Partage</h1>
    <h2>Share your thoughts with the world</h2>
    
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center;">About</h3>
            <hr>
            <p style="text-align: center;">Arguably the sharing of ideas is one of the most significant aspects of the human experience.</p>
            <p style="text-align: center;">At Partage we understand this.</p>
            <p style="text-align: center;">Users of our site can engage in this innate activity by creating and commenting on different blogs and posts.</p>
            <hr>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-4">
                    <a class="btn btn-primary" href="{{url_for('main.get_posts')}}">View Posts</a> 
                </div>
                <div class="col-md-3"></div>
            </div>
             
        </div>
    </div>
    
    
    
</div>
{% endblock %}